go 1.25.0

toolchain go1.25.9

use (
	./staging/src/arcoris.dev/admission/src
	./staging/src/arcoris.dev/admissioncatalog/src
	./staging/src/arcoris.dev/apimachinery/src
	./staging/src/arcoris.dev/atomicx/src
	./staging/src/arcoris.dev/capacity/src
	./staging/src/arcoris.dev/chrono/src
	./staging/src/arcoris.dev/health/src
	./staging/src/arcoris.dev/healtheval/src
	./staging/src/arcoris.dev/healthgate/src
	./staging/src/arcoris.dev/healthgrpc/src
	./staging/src/arcoris.dev/healthhttp/src
	./staging/src/arcoris.dev/healthprobe/src
	./staging/src/arcoris.dev/healthregistry/src
	./staging/src/arcoris.dev/healthtest/src
	./staging/src/arcoris.dev/liveconfig/src
	./staging/src/arcoris.dev/measure/src
	./staging/src/arcoris.dev/resilience/src
	./staging/src/arcoris.dev/runtime/src
	./staging/src/arcoris.dev/snapshot/src
	./staging/src/arcoris.dev/testutil/src
	./staging/src/arcoris.dev/value/src
)
