go 1.25.0

toolchain go1.25.9

use (
	./staging/src/arcoris.dev/admission/pkg
	./staging/src/arcoris.dev/apimachinery/pkg
	./staging/src/arcoris.dev/atomicx/pkg
	./staging/src/arcoris.dev/capacity/pkg
	./staging/src/arcoris.dev/chrono/pkg
	./staging/src/arcoris.dev/health/pkg
	./staging/src/arcoris.dev/liveconfig/pkg
	./staging/src/arcoris.dev/measure/pkg
	./staging/src/arcoris.dev/resilience/pkg
	./staging/src/arcoris.dev/runtime/pkg
	./staging/src/arcoris.dev/snapshot/pkg
	./staging/src/arcoris.dev/testutil/pkg
	./staging/src/arcoris.dev/value/pkg
)
